[submodule "fusion"]
	path = fusion
	url = https://github.com/boostorg/fusion.git
[submodule "lexical_Cast"]
	path = lexical_Cast
	url = https://github.com/boostorg/lexical_cast.git
[submodule "mpl"]
	path = mpl
	url = https://github.com/boostorg/mpl.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
